


/* @import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700;700&display=swap'); */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
.login {
      
      font-family: "Poppins", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #b7d1d7;
     
      /* margin-right: 10%;
      justify-content: right; */
      background-size: cover;
      background-position: center;
  }
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: #c7cfd0;
    border-radius:10px ;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #1eaeb9;
    font-weight: 900; 
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
   
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 36px;
    color: #c7cfd0;
   
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #c7cfd0;
    font-weight: 500px;
    font-size: 36px;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top:50%;
    transform: translate(-50%);
    font-size: 16px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: -15px 10 15px;
}

.remember-forgot label input{
    accent-color: #c9e4e8;
    margin-right: 4px;
}
.remember-forgot .add{
    padding-left: 20px;
   
}
.remember-forgot a {
    color: #c9e4e8;
    text-decoration: none;
}
.register-link a{
    font-size: 30px;
    font-weight: 400px;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper button {
 width: 100%;
 height: 45px;
 background: #c9e4e8;
 border:none;
 outline: none;
 border-radius: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
 cursor: pointer;
 font-size: 14px;
 
 /* font-weight: 700;   */

}
.wrapper .register-link {
    font-size: 11.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #c9e4e8;
    text-decoration: none;
    font-weight: 600;
}

.register-link Link {
    
}
.register-link p a:hover {
    text-decoration: underline;

}